<div class='row'>
    {{#each courses}}
        <div class='col-6 mt-4'>
            {{! lặp qua dữ liệu }}
            <div class='card'>
                <a href='/courses/{{this.slug}}'>
                    <img src='{{this.image}}' class='card-img-top' alt={{this.name}}'/>
                </a>
                <div class='card-body'>
                    <a href='/courses/{{this.slug}}'>
                        <h5 class='card-title'>{{this.name}}</h5>
                    </a>
                    <p class='card-text'>{{this.decs}}</p>
                    <a href='#' class='btn btn-primary'>Buy courses</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>