<div class='mt-4'>
    <div >
        <h3>Khóa học đã xóa</h3>   
        <a href="/me/store/courses" style="float: right;">Danh sách khóa học</a>
    </div>
    
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên khóa học</th>
                <th scope='col' colspan='4'>Thông tin</th>

            </tr>
        </thead>
        <tbody>
            {{#each courses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.decs}}</td>
                    <td>
                        <a href='' class='btn btn-link btn-restore' data-id='{{this._id}}'>Khôi phục</a>
                    </td>
                    <td>
                        <a
                            href=''
                            class='btn btn-link'
                            data-toggle='modal'
                            data-target='#delete-course-modal'
                            data-id='{{this._id}}'
                        >Xóa vĩnh viễn</a>
                    </td>

                </tr>
            {{else}}{{!-- Trường hợp dữ liệu không có phần tử nào,...  --}}
                <tr>
                    <td colspan="5" class="text-center">
                        Bạn chưa xóa khóa học nào
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! confirm delete course }}
<div id='delete-course-modal' class='modal' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Cảnh báo</h5>
                <button type='button' class='btn-close' data-dismiss='modal' aria-label='Close'><span
                    >&times;</span></button>
            </div>
            <div class='modal-body'>
                <p>Bạn muốn xóa vĩnh viễn khóa học này? Dữ liệu sẽ không thể khôi phục</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
                <button type='button' id="delete-course-btn" class='btn btn-primary'>Xóa</button>
            </div>
        </div>
    </div>
</div>

{{!--  Force Delete form --}}
<form method='POST' id="force-delete-course-form" hidden></form>
{{!-- Restore form --}}
<form method='POST' id="restore-course-form" hidden></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let courseId;
        const deleteCourseBtn = document.getElementById('delete-course-btn');
        const forceDeleteCourseForm = document.getElementById('force-delete-course-form');
        const restoreCourseForm = document.getElementById('restore-course-form');
        const restoreBtn = $('.btn-restore');  //dùng JQuery thì đỡ phải loop qua các phần tử
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            courseId = button.data('id');
            console.log(courseId);
        });
        deleteCourseBtn.onclick = function() {
            forceDeleteCourseForm.setAttribute('action', `/courses/${courseId}/force?_method=DELETE`);
            console.log(courseId);
            forceDeleteCourseForm.submit();
        }

        restoreBtn.click(function(e) {
            e.preventDefault();
            const idRestore = $(this).data('id');
            restoreCourseForm.setAttribute('action', `/courses/${idRestore}/restore?_method=PATCH`);
            restoreCourseForm.submit();

        });
    })
</script>